Source: ros-groovy-iai-pancake-perception-action
Section: misc
Priority: extra
Maintainer: TODO <TODO@TODO.COM>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-actionlib-msgs, ros-groovy-catkin, ros-groovy-geometry-msgs, ros-groovy-message-generation, ros-groovy-message-runtime
Homepage: 
Standards-Version: 3.9.2

Package: ros-groovy-iai-pancake-perception-action
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-actionlib-msgs, ros-groovy-geometry-msgs, ros-groovy-message-runtime
Description: Action interface to trigger perception of pancake oven and pancake.
